
@font-face {
    font-family: 'Kelson Sans';
    src: local('Kelson Sans Light RU'), 
    local('KelsonSans-LightRU'), 
    url('../fonts/kelson/kelsonsanslightru.woff2') format('woff2'), 
    url('../fonts/kelson/kelsonsanslightru.woff') format('woff'), 
    url('../fonts/kelson/kelsonsanslightru.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Kelson Sans';
    src: local('Kelson Sans Regular RU'), 
    local('KelsonSans-RegularRU'), 
    url('../fonts/kelson/kelsonsansregularru.woff2') format('woff2'), 
    url('../fonts/kelson/kelsonsansregularru.woff') format('woff'), 
    url('../fonts/kelson/kelsonsansregularru.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Kelson Sans Bold';
    src: local('Kelson Sans Bold RU'), 
    local('KelsonSans-BoldRU'), 
    url('../fonts/kelson/kelsonsansboldru.woff2') format('woff2'), 
    url('../fonts/kelson/kelsonsansboldru.woff') format('woff'), 
    url('../fonts/kelson/kelsonsansboldru.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
