.content_homepage {
	height: 1000px;
}
.sidebar_homepage_l{
	width: 64%;
	height: 700px;
	display: inline-block;
	border: 1px dotted #000;
}
.sidebar_homepage_r {
	display: inline-block;
	border: 1px dotted #000;
	vertical-align: top;
}
.widget_chat {
	display: inline-block;
	
}
.widgettitle {
	padding: 10px 0 10px;
	text-align: center;
	border-bottom: 1px solid gray;
}
.quick-chat-container {
	width: 400px;
	display: inline-block;
	
}
.widget_news_site {
	display: inline-block;
	border: 1px solid yellow;
	width: 400px;
	position: relative;
    left: 380px;
}